<nav class="navbar navbar-expand-lg navbar-light bg-light h-100 border-right">
  <div class="h-100 w-100" id="nav-izquierda">
    <form  class="bd-search   align-item-center">
      <span class="algolia-autocomplete " style="position: relative; display: inline-block; direction: ltr;">
        <input type="search" class="form-control ds-input border border-light" id="search-input" placeholder="buscar..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="" dir="auto" >
      </span>
      <button class="navbar-toggler  d-md-none p-0 ml-3 " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="nav flex-column nav-pills" >
        
        <a class="nav-link"  data-toggle="pill" [routerLink]="['/']"  *ngFor="let menu of menuIzquierdo" (click)="mostrar=menu">{{menu}}
          <ul class="nav d-none" [ngClass]="{'d-block': mostrar==menu}">
              <li>
                <a class="nav-link"  *ngFor="let subMenu of (obtenerSubMenu(menu))" (click)="mostrarSeleccion(subMenu)">{{subMenu}}</a>
              </li>
            </ul>
        </a>
        
        <!-- <a class="nav-link"  data-toggle="pill" [routerLink]="['/home']" routerLinkActive="active">{{menuIzquierdo[1]}}</a>
        <a class="nav-link"  [routerLink]="['/profile']" routerLinkActive="active" data-toggle="modal" >Registro</a>
        <a class="nav-link"  data-toggle="pill" [routerLink]="['/profile']" routerLinkActive="active">{{menuIzquierdo[2]}}</a>
        <a class="nav-link" data-toggle="pill" [routerLink]="['/profile']" routerLinkActive="active">{{menuIzquierdo[3]}}</a> -->
      </div>
    </div>
    
</div>
</nav>


