
<nav class="navbar navbar-expand-md fixed-top navbar-light border-bottom border-info" style="background-color: #16caf7;">
    <div class="container">
      <a href="index.html" class="navbar-brand">
          <img src="https://image.ibb.co/h7Agpx/nature.png" alt="nature" width="40" height="40" class="d-inline-block align-top">
        Falls
      </a>
      <button  class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#cascada-section" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="#cascada-section" class="nav-link">Caidas</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lugares</a>

            <div class="dropdown-menu alert-dark" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action
              </a>
              <a class="dropdown-item" href="#">Another action
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here
              </a>
            </div>

          </li> -->
          <li class="nav-item">
            <a href="#" class="nav-link">Eventos</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Registro</a>
          </li>
          
        </ul>
        
        <!-- Modal para registro -->
        

      </div>
    </div>
  </nav>
<!-- "angular-font-awesome": "^3.1.2", -->
<!-- "font-awesome": "^4.7.0", -->
