
<!-- <div class="container-fluid" style="height:100%; position:absolute;"></div> -->
<div class="container-fluid h-100 mt-5 pt-3"style="position:absolute;">
    <app-nav class=""></app-nav>
    <div class="row h-100">
            <app-nav-izquierda class="col-12 col-md-3 col-xl-2 pl-0 pr-0"></app-nav-izquierda>
            <!-- <app-contenido class="col-12 col-md-9 col-xl-8"></app-contenido> -->
            <div class="col-12 col-md-9 col-xl-8" >
                <router-outlet ></router-outlet>
            </div>
            
            <div class="col-12 col-xl-2" id="chat"></div>
            
    </div>
    
    
    

    <app-modal></app-modal>
</div>
<!-- <app-nav-derecha></app-nav-derecha> -->


